@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/global"  as *; 

.explination {
    padding: 1rem;
    background-color: $MainColour;
    width: 40%;

    &__header { 
        color: $OffWhite;
        margin-top: 0;
    }

    &__text {
        background-color: $Fourth;
        border-radius: $buttonRadius;
        padding: 1rem;
    }
}