$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px; 

$MainColour: #2F3E46;
$SecondaryColour: #354F52;
$OffWhite: #CAD2C5;
$White: #FFFFFF;

$Black: #000000;
$Third: #354F52;
$Fourth: #84A98C;


$buttonRadius: 4px;