@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/global"  as *; 

.activity{
    display: flex;
    flex-direction: column;
    border: 1px solid pink;
    width: 60%;
    background-image: url("../../../public/magic-ball.jpg");
    background-size: cover;
    background-position: right;

    &__textbox {
        border: 1px solid red;
        padding: 1rem;
        margin-bottom: 15rem;
        color: $MainColour;

        &--font {
            margin-top: .75rem;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        border: 1px solid green;

        &--clicker {
            width: 400px;
            background-color: $MainColour;
            text-align: center;
            padding: 1.25rem;
            border-radius: $buttonRadius;
            border: none;
            margin: 1rem;
            color: $OffWhite;
        }
    }
}