@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/global"  as *; 

.activity{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-image: url("../../../public/magic-ball.jpg");
    background-size: cover;
    background-position: right;

    &__textbox {
        padding-left: 1rem;
        margin-bottom: 15rem;
        color: $MainColour;

        &--font {
            margin: 0;
            color: $OffWhite;
            font-size: 1.5rem;
            padding-top: 1rem;
        }
    }

    &__button {
        display: flex;
        justify-content: center;

        &--clicker {
            width: 400px;
            background-color: $MainColour;
            text-align: center;
            padding: 1.25rem;
            border-radius: $buttonRadius;
            border: none;
            margin: 1rem;
            color: $OffWhite;
        }
    }
}