.container {
    width: 50vw;
    border-right: 3px solid blue;
    display: flex;
    flex-direction: column;
    &__top {
        border-bottom: 3px solid blue;
        padding-bottom: 2rem;
        border-top: 3px solid blue;
        padding-top: 2rem;
    }
    &__bottom {
        border-bottom: 3px solid blue;
        padding-bottom: 2rem;
    }
}