@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/global"  as *; 

.containerRight {
    width: 50vw;
    background-image: url("../../../public/pad.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color:$MainColour;

    &__card {
        margin: 3rem auto 0 auto;
        color: $White;
        padding-left: 1rem;
        width: 40vw;
        height: 18rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &--inner {
            margin: 0 auto 0 auto;
            width: 25vw;
            height: 9rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $Black;
        }
    }
}